<html>
  <head>
  	<link rel='stylesheet' type='text/css' href='/css/styles.css'>
  </head>
  <body>
  	<h1>Hogwarts Hangman</h1>
    <br>
    <img src='images/hangman<%= @guesses_left %>.png' width=700px>
    <br>
    <h4>A <%= @word_length %> letter word:</h4>
    <p><%= @blanks_to_fill %></p>
    <!-- <p><%= @word %></p> -->
    <p><%= @guesses_left %> guesses left</p>

    <form action='/game' method='post'>
      <input type='text' pattern='[^\d]+' maxlength='<%= @word.length %>' title='must be a letter or a word' name='guess'>
      <input type='submit' value='guess!'>
      <%= @error_message %>
    </form> 

    <!-- '<%= @guess %>' -->
    <p>Previous Guesses: <%= @previous_guesses %></p>

  </body>
</html>