<html>
  <head>
  	<link rel='stylesheet' type='text/css' href='/css/styles.css'>
  </head>
  <body>
  	<h1>Hogwarts Hangman</h1>
    <img src='images/hangman<%= @guesses_left %>.png' width=500px>
    <h4><%= @word_length %> letter word: &nbsp; <%= @blanks_to_fill %></h4>
    <!-- <p><%= @word %></p> -->
    <p><%= @guesses_left %> guesses left &nbsp;|&nbsp; Previous Guesses: <%= @previous_guesses %></p>
    <form action='/game' method='post'>
      <input type='text' pattern='[^\d]+' maxlength='<%= @word.length %>' title='must be a letter or a word' name='guess' placeholder='guess letter or word'>
      <input id='btn' type='submit' value='expelliarmus!'>
      <%= @error_message %>
    </form> 
    <br>
  </body>
</html>