<html>
  <head>
  </head>
  <body>
  	<h2>Hogwarts Hangman</h2>
    <br>
    <h4>A <%= @word_length %> letter word</h4>
    <br>
    <p>Blanks to fill: <%= @blanks_to_fill %></p>

    <p><%= @word %></p>

    <br>
    <p><%= @guesses_left %> guesses left</p>
    <br>

    <form action='/game' method='post'>
      <input type='text' pattern='[^\d]+' maxlength='<%= @word.length %>' title='must be a letter or a word' name='guess'>
      <input type='submit' value='guess!'>
    </form> 

    '<%= @guess %>'
    <br>
    <p>Previous Guesses: <%= @previous_guesses %></p>


    <!-- lose: https://www.youtube.com/watch?v=SeAnMpNVRDw -->
  </body>
</html>